<div>
    <%= form_with model: @comment, url: user_post_comments_path, data: { turbo: false } do |form| %>
      <div>
        <%= form.label :text %>
        <%= form.text_area :text %>
      </div>
      <div class="text-center">
        <%= form.submit "Create Comment" %>
      </div>
    <% end %>
</div>